In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import os
import glob
import yaml

In [3]:
with open("../../code_configs/params.yaml") as f:
    params = yaml.safe_load(f)

In [4]:
DATASET = "dataset_1"
metadata_table_1 = pd.read_hdf(
    os.path.join(params['PRIMARY_DATA_DIRECTORY'], f'metadata_{DATASET}.hdf5'),
    key='df',
)

DATASET = "dataset_2"
metadata_table_2 = pd.read_hdf(
    os.path.join(params['PRIMARY_DATA_DIRECTORY'], f'metadata_{DATASET}.hdf5'),
    key='df',
)

DATASET = "dataset_3"
metadata_table_3 = pd.read_hdf(
    os.path.join(params['PRIMARY_DATA_DIRECTORY'], f'metadata_{DATASET}.hdf5'),
    key='df',
)

In [7]:
metadata_table_all = pd.concat(
    [metadata_table_1, metadata_table_2, metadata_table_3],
    axis=0,
)

In [11]:
metadata_table_all.to_hdf(
    os.path.join(params['PRIMARY_DATA_DIRECTORY'], 'metadata.hdf5'),
    key='df',
    index=False,
    mode='w',
)

/tmp/ipykernel_48693/2022292710.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['f_annots_rows', 'f_annots_cols', 'harmonized_id',
       'source_image_filename', 'dataset', 'dev_set'],
      dtype='object')]

  metadata_table_all.to_hdf(

In [12]:
metadata_table_read = pd.read_hdf(
    os.path.join(params['PRIMARY_DATA_DIRECTORY'], 'metadata.hdf5'),
    key='df',
)

In [13]:
metadata_table_read.head()

,v_annots_present,f_annots_present,edges_present,f_annots_rows,f_annots_cols,harmonized_id,v_annots_2_rows,v_annots_2_cols,v_annots_3_rows,v_annots_3_cols,v_annots_4_rows,v_annots_4_cols,source_image_filename,dataset,dev_set
0,True,False,True,NaN,NaN,041281ee7fb89f6835a71c309b3b503e3d5a68fc46a608...,3.0,2.0,5.0,2.0,5.0,2.0,45.jpg,dataset_1,NaN
1,True,False,True,NaN,NaN,2cfa37a69916c8a45a51bb8beeb04425e07d2a22f694e0...,3.0,2.0,5.0,2.0,5.0,2.0,92.jpg,dataset_1,NaN
2,True,False,True,NaN,NaN,7201dc2be0b97f59a7901004d6496bbe84c440530776db...,3.0,2.0,5.0,2.0,5.0,2.0,43.jpg,dataset_1,NaN
3,True,False,True,NaN,NaN,2cd4487c03c72d1016ea0a72d1b21eb987878c90ae9eff...,3.0,2.0,5.0,2.0,5.0,2.0,7.jpg,dataset_1,NaN
4,True,False,True,NaN,NaN,27624a6eb37bbc8aafabe2075f423d573b189eae6f23fb...,3.0,2.0,5.0,2.0,5.0,2.0,121.jpg,dataset_1,NaN

In [14]:
metadata_table_read.describe()

,v_annots_2_rows,v_annots_2_cols,v_annots_3_rows,v_annots_3_cols,v_annots_4_rows,v_annots_4_cols
count,576.000000,576.0,576.0,576.0,578.0,578.0
mean,3.006944,2.0,5.0,2.0,5.0,2.0
std,0.117749,0.0,0.0,0.0,0.0,0.0
min,3.000000,2.0,5.0,2.0,5.0,2.0
25%,3.000000,2.0,5.0,2.0,5.0,2.0
50%,3.000000,2.0,5.0,2.0,5.0,2.0
75%,3.000000,2.0,5.0,2.0,5.0,2.0
max,5.000000,2.0,5.0,2.0,5.0,2.0